.toggle {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--ctp-surface1);
}

.active {
  background-color: var(--ctp-lavender);
  color: var(--ctp-crust);
  border-color: var(--ctp-lavender);
}

@media (max-width: 768px) {
  .toggle {
    flex-direction: column;
    gap: 10px;
  }
  .button {
    width: 100%;
  }
}
